/.venv # virtual environment is setup when clonining repo and has indiovidual machine dependencies.

/.DS_Store # Mac OS file system metadata file.

/.env # environment variables file.  

/.code-workspace # Visual Studio Code workspace file.
